
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    
    font-family: "Outfit", sans-serif;
    margin: 10px auto;
    background-color: rgb(240, 234, 214);
    display: flex;
    justify-content: center;
   
}
.recepie {
    max-width: 790px;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    margin-top: 60px;
    border-radius: 15px;
}
.recepie .container {
    padding: 30px;
}
.recepie .container img {
    width: 100%;
    border-radius: 15px
}
.recepie .container h1 {
    font-size: 33px;
    font-weight: normal;
    font-family: "Young Serif", serif;
}
.recepie .container p {
    font-size: 13px;
    color: #777;
    
}
.recepie .prep h2 {
    color: #754b36;
}
.recepie .prep {
    background-color: #fff7fc;
    padding: 15px;
    font-family: "Outfit", sans-serif;
}

.recepie .prep li {
    padding-left: 20px;
    font-size: 18px;
    padding-bottom: 20px;
}

.recepie .prep span {
    font-weight: bold;
}
.recepie .ingrediant {
    border-bottom: 1px solid #ccc;
}
.recepie .ingrediant h2 {
    font-family: "Young Serif", serif;
    font-weight: normal;
    color: #754b36;
    font-size: 30px;
}
.recepie .ingrediant li {
    line-height: 2;
    padding-left: 30px;
    color: #62615f;
}
.instructions {
    border-bottom: 1px solid #ccc;
}
.instructions h2 {
    font-family: "Young Serif", serif;
    font-weight: normal;
    color: #754b36;
    font-size: 30px;
}
.instructions li {
    line-height: 2;
    padding-left: 30px;
    color: #62615f;
}
.instructions li span {
    font-weight: bold;
}
.nutrtiion {

}
.nutrtiion h2 {
    font-family: "Young Serif", serif;
    font-weight: normal;
    color: #754b36;
    font-size: 30px;
}
.nutrtiion table {
    width: 100%;
    background-color: #f9f9f9;
}
.nutrtiion table .tdd {
    color: #794e48;
    font-weight: bold;
}
.nutrtiion table td {
    padding: 10px;
}


